.question-container {
    padding   : 0 30px;
    overflow-x: hidden;

    .manage-questions-title {
        margin-bottom : 20px;
        font-size     : 20px;
        font-weight   : 500;
        text-align    : center;
        text-transform: uppercase;

    }

    .add-new-questions {


        .add-new-questions-body {
            border       : 1px solid #170d0d;
            margin       : 15px 0;
            padding      : 20px;
            border-radius: 8px;


            .title-add {
                text-align   : center;
                font-weight  : 500;
                font-size    : 17px;
                margin-bottom: 10px;

            }

            .header-and-preview-img {
                display: flex;
                gap    : 20px;

                .add-question-answer {

                    .add-question-header {
                        display    : flex;
                        gap        : 10px;
                        align-items: center;
                        margin     : 15px 0;
                        width      : 700px;

                        .icon-add-question {
                            font-size: 25px;
                            color    : green;
                            cursor   : pointer;
                        }

                        .icon-minus-question {
                            font-size: 25px;
                            color    : red;
                            cursor   : pointer;
                        }
                    }

                    .add-answer {

                        .answers-title {
                            margin: 10px 0;
                        }

                        .answers {
                            margin-bottom: 15px;
                            display      : flex;
                            align-items  : center;
                            gap          : 10px;


                            .icon-plus-answers {
                                font-size: 25px;
                                color    : green;
                                cursor   : pointer;
                            }

                            .icon-minus-answers {
                                font-size: 25px;
                                color    : red;
                                cursor   : pointer;
                            }
                        }
                    }
                }

                .preview-img-container {
                    display   : flex;
                    gap       : 10px;
                    margin-top: 15px;

                    .questions-upload {
                        label {
                            cursor          : pointer;
                            background-color: #ccc;
                            display         : flex;
                            align-items     : center;
                            padding         : 5px 10px;
                            width           : 140px;
                            border-radius   : 5px;




                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }

                    .img-preview {
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        border-radius  : 5px;
                        border         : 1px dashed black;
                        color          : #ccc;
                        height         : 200px;
                        width          : 220px;


                        img {
                            max-height: 100%;
                            max-width : 100%;
                            cursor    : pointer;

                        }
                    }
                }
            }


        }


    }


}