.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 20px;
        }

        .admin-main {
            height: calc(100vh - 20px)
        }
    }
}