.register-container {
    padding-top: 15px;
    background : linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    height     : 100vh;

    .register-header {
        float: right;

        .content-register-header {
            margin-right: 10px;
            display     : flex;
            align-items : center;

            .register-help {
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }

            button {
                margin          : 0 10px;
                border          : 2px solid black;
                outline         : none;
                padding         : 5px 10px;
                border-radius   : 5px;
                background-color: transparent;
                color           : black;

                &:hover {
                    background-color: rgb(25, 21, 21);
                    color           : white;
                }
            }
        }
    }

    .register-title {
        padding-top: 90px;
        text-align : center;
        font-size  : 25px;
        font-weight: 500;
    }

    .register-welcome {
        margin     : 30px 0;
        text-align : center;
        font-size  : 18px;
        font-weight: 400;
    }

    .register-form {
        margin: 20px 0;


        .form-group {
            position: relative; // Đảm bảo các phần tử con có thể được định vị bên trong
            margin  : 20px 0;

            .password-design {
                position   : relative; // Để icon có thể nằm trong input
                display    : flex;
                align-items: center;

                .form-control {
                    padding-right: 30px; // Tạo khoảng trống cho icon nằm trong input
                    width        : 100%;
                }

                .password-icon {
                    position : absolute;
                    right    : 10px;
                    top      : 50%;
                    transform: translateY(-50%);
                    cursor   : pointer;

                }
            }
        }


        .forgot-password-register {
            font-style: italic;

            span {
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .btn-register {
            margin-top     : 20px;
            display        : flex;
            justify-content: center;

            button {
                padding         : 5px 25px;
                background-color: rgb(25, 21, 21);
                color           : white;
                border-radius   : 5px;

                &:hover {
                    background-color: transparent;
                    color           : black;
                }
            }
        }

        .go-homepage {
            margin-top: 15px;

            span {
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}